* {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-family: $font-main;
    font-size: $font-size;
}

body {
    margin: 0;
}

.container {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

@media (max-width: 320px) {
    .container {
        max-width: 280px;
    }
}