$color-main: #000000;
$color-accent: #e0ecf4;
$color-yellow-light: #f6f4c8;
$color-yellow: #f4c851;
$color-gray-light: #e6e8e8;
$color-blue: #7ec3f3;
$color-blue-light: #9fe5f4;
$color-green-light: #b6e9b3;
$color-gray: #8d8d8d;